<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723857839147-fuhcetbbtmj2n7vsfjrgcr3th79n6pod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723857839147-fuhcetbbtmj2n7vsfjrgcr3th79n6pod</string>
	<key>API_KEY</key>
	<string>AIzaSyCWanPhzonZUTajFoAjgpuYDrbM0N8zL-A</string>
	<key>GCM_SENDER_ID</key>
	<string>723857839147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todolistApp</string>
	<key>PROJECT_ID</key>
	<string>todolist-9f1b7</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-9f1b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723857839147:ios:6144e7e057cf6cbc0f866e</string>
</dict>
</plist>